.innerContainer {
  display: flex;
  align-items: center;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  //background-color: transparent;
  //background-color: var(--color-light-700);
  border: 2px solid var(--color-light-700);
  border-radius: 2px;
  //box-shadow: 0 2px 10px var(--color-dark-700);

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: initial;
    border-color: var(--color-dark-100);
  }
}

.buttonWrapper {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  &:hover:not(.disabled),
  &:hover:not(.disabled) {
    box-shadow: 0 0 0 7px var(--color-dark-100);
    background-color: var(--color-dark-100);
  }

  &:focus-within,
  &:active:not(.disabled) {
    background-color: var(--color-dark-100);
  }

  &.left {
    margin-left: -9px;
  }
}

.indicator {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

.disabled {
  cursor: initial;
  color: var(--color-dark-100);
}

.checked:not(.disabled) {
  background: var(--color-dark-900);
}

.checked {
  background: var(--color-light-700);
}

.label {
}
