.value {
  width: 100%;
}

.trigger,
.content {
  width: 100%;
}

.trigger {
  cursor: pointer;
}

.content {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  background-color: var(--color-dark-900);
}

.trigger,
.item {
  display: flex;
  align-items: center;
  height: 36px;
}

.trigger,
.viewport {
  border: 1px solid grey;
}

.trigger {
  justify-content: space-between;
  background-color: var(--color-dark-900);
  border-radius: 2px;

  &:focus {
    border: 1px solid var(--color-info-700);
    border-radius: 2px;
    outline: none;
  }

  &:hover {
    background-color: var(--color-dark-500);
  }
}

.trigger[data-disabled] {
  color: var(--dark-500);

  &:hover {
    background-color: var(--color-dark-900);
  }
}

.item {
  padding: 1px 6px;
}

.item[data-highlighted] {
  cursor: pointer;
  color: var(--color-accent-300);
  background: var(--color-accent-900);
  outline: none;
}

.triggerGrey,
.contentGrey {
  background-color: var(--color-dark-700);
}
