.component {
  width: 100%;
  max-width: 1024px;

  .topContainer,
  .middleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .middleContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    align-items: center;

    .searchContainer {
      width: 100%;
      max-width: 299px;
    }
  }

  .buttonsContainer {
    width: 100%;
  }

  .tableContainer {
    width: 100%;

    .imgInCell {
      width: 150px;
      height: 36.8px;
    }
  }

  .container {
    overflow-x: auto;
    width: 100%;
  }

  .iconContainer {
    display: flex;
    gap: 10px;
  }
}
