.component {
  width: 100%;
  max-width: 1024px;

  .topContainer,
  .middleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .middleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    .searchContainer {
      width: 100%;
      max-width: 299px;
    }

    .slider {
      margin-left: -9px;
    }
  }

  .buttonsContainer {
    width: 100%;
  }

  .tableContainer {
    width: 100%;

    .imgInCell {
      width: 150px;
      height: 36.8px;
    }
  }

  .container {
    width: 100%;
    overflow-x: auto;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    gap: 10px;

    .trashIcon {
      //cursor: pointer;
    }
  }
}
