.container {
  margin-top: 5px;
  display: flex;

  align-items: center;
  justify-content: center;

  width: 251px;
  height: 36px;

  .value {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    text-align: center;

    border: 1px solid var(--color-dark-300);
  }

  .root {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 12px;
    user-select: none;
  }

  .track {
    position: relative;

    width: 100%;
    height: 4px;
    opacity: 0.5;
    background-color: var(--color-accent-500);
    border-radius: 12px;
  }

  .range {
    position: absolute;
    height: 100%;
    background-color: var(--color-accent-500);
  }

  .thumb {
    touch-action: pan-x;
    cursor: pointer;

    display: block;

    width: 16px;
    height: 16px;

    background-color: var(--color-light-100);
    border-radius: 9999px;

    transition: transform 0.2s ease-in-out;
  }
}
