.trigger,
.content {
  width: 210px;
}

.trigger,
.item {
  display: flex;
  align-items: center;
  height: 36px;
}

.trigger,
.viewport {
  border: 1px solid grey;
}

.trigger {
  justify-content: space-between;
  background-color: black;
  border-radius: 2px;

  &:focus {
    border: 1px solid #2f68cc;
    border-radius: 2px;
    outline: none;
  }

  &:hover {
    background-color: #333;
  }
}

.trigger[data-disabled] {
  &:hover {
    background-color: black;
  }
}

.value {
  //color: red;
}

.value[data-disabled] {
  color: grey;
}

.item {
  padding: 1px 6px;
}

.item[data-highlighted] {
  color: #a280ff;
  background: #9747ff;
  outline: none;
}
