@use '../../../../common/mixins';

.imgContainer {
  margin: 0 auto;
  position: relative;
  @include mixins.img-upload-size;

  img {
    max-width: 100%;
  }

  .croppedImg {
    @include mixins.img-upload-size;
  }

}

.dummyImg, .dummyVideo {
  border: 1px solid var(--color-dark-100);
  @include mixins.flex($justifyContent: center, $alignItems: center);
  color: var(--color-dark-100);
}

.dummyImg {
  @include mixins.img-upload-size;
}

.dummyVideo {
  @include mixins.video-size;
}

.container {
  max-width: 100%;
  @include mixins.flex($justifyContent: space-between);
}

.halfButton {
  width: 49%;
}

.button {
    width: 100%;
    margin-top: 24px;
}