@use '../../../../common/mixins';

.imgContainer {
  margin: 0 auto;
  position: relative;
  @include mixins.imgUploadSize;

  .croppedImg {
    @include mixins.imgUploadSize;
  }

}

.dummyImg, .dummyVideo {
  margin-top: 24px;
  border: 1px solid white;
  @include mixins.flex($justifyContent: center, $alignItems: center);
}

.dummyImg {
  @include mixins.imgUploadSize;
  margin-top: 24px;
}

.dummyVideo {
  @include mixins.videoSize;
}

.container {
  width: 100%;
  @include mixins.flex();
}

.halfButton {
  width: 50%;
  &:last-child {
    margin-left: 5px;
  }
}

.button {
    width: 100%;
    margin-top: 24px;
}