@use '../../../../common/mixins';

.imgContainer {
  margin: 0 auto;
  position: relative;
  @include mixins.img-upload-size;

  .croppedImg {
    @include mixins.img-upload-size;
  }
}

.dummyImg,
.dummyVideo {
  margin-top: 24px;
  border: 1px solid white;
  @include mixins.flex($justifyContent: center, $alignItems: center);
}

.dummyImg {
  @include mixins.img-upload-size;
  margin-top: 24px;
}

.dummyVideo {
  @include mixins.video-size;
}

.container {
  width: 100%;
  @include mixins.flex();
}

.halfButton {
  width: 50%;
  &:last-child {
    margin-left: 5px;
  }
}

.button {
  width: 100%;
  margin-top: 24px;
}
