.cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

.arrowContainer {
    display: flex;
    cursor: pointer;

    .text {
        margin-left: 5px;
    }
}