@use '../../common/mixins';


.dropDownMenuSeparator {
  background-color: var(--color-dark-500);
  height: 1px;
  //margin: 12px 0;
}
.dropDownMenuItem {
  //padding: 12px 0;
}
.icons {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.emptyPackContainer {
  text-align: center;

  .Subtitle_2 {
    margin-bottom: 30px;
    font-weight: 400;
    color: var(--color-dark-100);
  }
}

.arrowContainer {
  display: flex;
  cursor: pointer;
  width: fit-content;

  .text {
    margin-left: 5px;
  }
}

.container {
  width: 100%;
  overflow-x: auto;
}

.button {
  height: 36px;
}

.loaderContainer {
  @include mixins.flex($justifyContent: center, $alignItems: flex-start);
}