.dropDownMenuItem {
  display: flex;
  outline: none;
  //border-radius: 6px;
}
.dropDownMenuItem[data-highlighted] {
  background-color: var(--color-accent-900);
}

.userAvatar {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin-right: 8px;
}
