.radio {
  /* reset */
  button {
    all: unset;
  }

  .element {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  .RadioGroupRoot {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .RadioGroupItem {
    width: 16px;
    height: 16px;
    display: flex;

    background-color: var(--color-dark-900);
    border: 2px solid var(--color-accent-500);
    border-radius: 100%;
  }

  .RadioGroupItem:hover {
    box-shadow: 0 0 0 10px var(--color-dark-500);
  }

  .RadioGroupItem:focus {
    box-shadow: 0 0 0 10px var(--color-dark-700);
  }

  .RadioGroupItem:active {
    box-shadow: 0 0 0 10px var(--color-accent-900);
  }

  .RadioGroupItem:disabled {
    box-shadow: none;
    border: 2px solid var(--color-accent-900);
  }

  .RadioGroupIndicator {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
  }

  .RadioGroupIndicator::after {
    content: '';

    display: block;

    width: 8px;
    height: 8px;

    background-color: var(--color-accent-500);
    border-radius: 50%;
  }

  .RadioGroupIndicator[data-disabled]:after {
    background-color: var(--color-accent-900);
  }

  .Label {
    padding-left: 15px;
    font-size: 15px;
    line-height: 1;
    color: white;
  }
}
