.container {
  width: max-content;
  height: max-content;
  padding: 33px 36px 41px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .title {
    padding: 0 86px 27px 86px;
  }
  & .imageContainer {
    position: relative;
    max-width: 96px;
    max-height: 96px;
    margin-bottom: 6px;
    & .userPhoto {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
    & .imageButton {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 4px;
      background-color: var(--color-dark-300);
      border-radius: 6px;
      & :hover {
        background-color: var(--color-dark-100);
      }
      & .icon {
        width: 16px;
        height: 16px;
      }
    }
  }
  & .subtitleContainer {
    display: flex;
    width: max-content;
    font-size: var(--font-size-l);
    & .userName {
      margin: 0;
    }

    & .imageButton {

      & :hover {
        background-color: var(--color-dark-100);
        border-radius: 2px;
      }
      & .icon {
        width: 16px;
        height: 16px;
        margin-left: 9px;
      }
    }

  }
  & .userEmail {
    color: var(--color-dark-100);
    margin-bottom: 19px;
  }
  & .logButton {
    font-size: var(--font-size-s);
    :nth-child(1) {
      width: 16px;
      height: 16px;
    }
  }
  & .editModeContainer {
    width: 100%;
    margin-top: 6px;
    & .editModeButton {
      margin-top: 36px;
    }
  }
}

.inputFileWrapper {
  position: relative;

}
.inputFile {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
