.primary {
    all: unset;
    background-color: red;
    border: 1px solid black;
}

.secondary {
    all: unset;
    background-color: green;
}

.tertiary {
    all: unset;
    background-color: blue;
}

.link {
    all: unset;
    background-color: yellow;
}

.fullWidth {
    all: unset;
    width: 100%;
    background-color: red;
}