@use '../../../../common/mixins';

.imgContainer {
    margin: 0 auto;
    position: relative;
    @include mixins.imgUploadSize;

    .croppedImg {
        @include mixins.imgUploadSize;
    }

    .dummyImg {
        border: 1px solid white;
        @include mixins.flex($justifyContent: center, $alignItems: center);
        @include mixins.imgUploadSize;
    }
}

.dummyImg {
    border: 1px solid white;
    @include mixins.flex($justifyContent: center, $alignItems: center);
    @include mixins.imgUploadSize;
    margin-top: 24px;
}
