.dropDownMenuItem {
  display: flex;
  outline: none;
  //border-radius: 6px;
  cursor: pointer;
  padding: 12px 0px;
}
.dropDownMenuItem[data-highlighted] {
  background-color: var(--color-accent-900);
}
