.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

//.userAvatar {
//    width: 36px;
//    height: 36px;
//    border-radius: 100%;
//    margin-right: 8px;
//}
//
//.button {
//    all: unset;
//    //border-radius: 100%;
//}
.icons {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.dropDownMenuSeparator {
    background-color: var(--color-dark-500);
    height: 1px;
    margin: 12px 0;
}
//
//.userName {
//    font-weight: var(--font-weight-bold);
//}
//.userEmail {
//    color: var(--color-dark-100)
//}
