@mixin flex($justifyContent: stretch, $alignItems: stretch, $flexDirection: row) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin imgUploadSize() {
  max-width: 100%;
  height: 119px;
}

@mixin videoSize() {
  width: 480px;
  height: 270px;
}
