@mixin flex($justifyContent: stretch, $alignItems: stretch, $flexDirection: row) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

@mixin imgUploadSize() {
  max-width: 100%;
  height: 119px;
}
