@mixin flex($justifyContent: stretch, $alignItems: stretch, $flexDirection: row) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin img-upload-size() {
  max-width: 100%;
  height: 119px;
}

@mixin video-size() {
  max-width: 100%;
  height: 270px;
}
